*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-weight: normal;
  -webkit-transition: all .35s ease-in-out;
  -o-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out; }

@font-face {
  src: url(sulsans.woff.woff);
  font-family: SulSans; }

@font-face {
  src: url(apercu.ttf);
  font-family: Apercu; }

html,
body {
  font-size: 100%;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

body {
  font-family: SulSans;
  background: #efefef; }

.hero {
  background: #44D62C;
  height: 100vh;
  width: 100%;
  display: table; }
  .hero .centered {
    display: table-cell;
    vertical-align: middle;
    padding: 0rem 33rem 0 7rem; }
    .hero .centered h1 {
      color: white;
      font-size: 50px;
      line-height: 65px; }
      .hero .centered h1 span {
        border-bottom: 6px solid rgba(255, 255, 255, 0.2); }

nav ul {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 18px;
  padding: 0 30px;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: #fff;
  margin: 0 auto;
  padding: 0 50px; }

ul {
  list-style: none; }

nav {
  float: left;
  width: 50%;
  line-height: 50px; }

a:link {
  -webkit-tap-highlight-color: transparent; }

nav ul li a {
  display: block;
  color: #44D62C;
  position: relative; }

a {
  color: #fff;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out; }
  a:hover {
    border-bottom: 2px solid #fff; }

.button {
  position: relative;
  top: 0;
  padding: 15px 25px;
  font-family: monospace;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 13px;
  border: 2px solid rgba(255, 255, 255, 0.866); }
  .button:hover {
    top: -7px;
    background: #fff;
    color: #2ecc71;
    -webkit-box-shadow: -7px 7px 0 rgba(255, 255, 255, 0.69);
    box-shadow: -7px 7px 0 rgba(255, 255, 255, 0.69); }

.button.sec {
  color: #2ecc71;
  background: #fff !important; }
  .button.sec:hover {
    color: #44D62C; }

.about {
  height: 100vh;
  width: 100%;
  padding: 15rem 22rem;
  background: #fff; }
  .about h1 {
    font-size: 2rem;
    line-height: 1.33333;
    margin-bottom: 7px;
    font-weight: normal;
    color: #222; }

p.lead {
  font-family: Lato;
  font-size: 1.333333rem;
  color: rgba(0, 0, 0, 0.5777);
  line-height: 1.3333333; }

.working {
  height: 50vh;
  width: 100%;
  display: table;
  padding: 0 16rem;
  background: #000; }
  .working .center {
    font-size: 1.5rem;
    display: table-cell;
    vertical-align: middle;
    text-align: center; }

.img {
  height: 40vh;
  width: 100%; }

.aukaat {
  background: url(aukaat.jpg) center center no-repeat fixed;
  background-size: cover;
  width: 100%;
  display: table; }

.aukaat2 {
  background: url(aukaat2.jpg) center center no-repeat fixed;
  background-size: cover;
  width: 100%;
  display: table; }

.overlay {
  background: rgba(0, 0, 0, 0.777);
  height: 100%;
  width: 100%;
  display: table-cell;
  color: #fff;
  font-family: monospace;
  letter-spacing: 40px;
  text-align: center;
  vertical-align: middle; }

.team {
  height: 100vh;
  width: 100%;
  background: #fff; }

.colophon {
  height: 60vh;
  width: 100%;
  background: #fff;
  padding: 8rem 20rem; }
  .colophon h1 {
    font-size: 2rem; }

.gradient {
  background: #5f2c82;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #49a09d, #5f2c82);
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#49a09d), to(#5f2c82));
  background: -webkit-linear-gradient(left, #49a09d, #5f2c82);
  background: -o-linear-gradient(left, #49a09d, #5f2c82);
  background: linear-gradient(to right, #49a09d, #5f2c82);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.delay-1 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }

.delay-2 {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s; }

.delay-3 {
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s; }

.delay-4 {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s; }

.delay-5 {
  -webkit-animation-delay: 1s;
  animation-delay: 1s; }

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -10%, 0);
    transform: translate3d(0, -10%, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -10%, 0);
    transform: translate3d(0, -10%, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown; }

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 10%, 0);
    transform: translate3d(0, 10%, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 10%, 0);
    transform: translate3d(0, 10%, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp; }

#secondh1 {
  opacity: 0; }

#secondpara {
  opacity: 0; }

#quote {
  opacity: 0; }
